.seed-list {
  list-style: lower-greek;
}

.no-border {
    border-bottom: none !important;
}

.text-center {
    text-align: center;
}

.font-white {
    color: #fff !important;
}

.dash-title {
    font-size: 20px !important;
}

.no-margin {
    margin: 0px;
}