<md-dialog aria-label="Add this image as a product"  ng-cloak>
  <form>
    <md-toolbar layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2>Remove Product</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content center-all">
        <h2>Are you sure you want to remove this product?</h2>
        <img ng-src="{{showModalProduct}}">
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="center-footer">
      <span flex></span>
      <md-button class="md-primary md-raised" ng-click="removeProduct(confirmRemoveProduct); cancel()">
       Remove Product
      </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>